################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ServerSide/.vs/ServerSide/DesignTimeBuild/.dtbcache.v2
/ServerSide/ServerSide/obj/Debug/ServerSide.pdb
